body{
    font-family:"Roboto", sans-serif;
    color:#434455 ;
    background-color: #ffffff;
}
a
{
    text-decoration: none;
}

a:hover ,
a:focus{
        text-decoration: none;
        color: #4d5ae5;
       
}

button{
    cursor: pointer;
}

button:hover,
button:focus {
    text-decoration: none;
    background-color: #404BBF;
    
}

ul, ol{
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

h1,h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: block;
}

.page-container{
min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.container{
        max-width: 1158px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right:15px;
       
}

.section{
    padding: 120px 0;
}

.header {
font-family: "Roboto", sans-serif;
border-bottom: 1px solid #e7e9fc;

box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}
   
.navigation{
    display: flex;
    flex-grow: 1;
  align-items: center; 

}

.navigation-list{
display: flex;
gap:40px;
margin-right: auto;


}

.navigation-title {font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.navigation-web{
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.navigation-element { 
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
       padding: 24px 0;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }


.navigation .navigation-element:hover,
.navigation-element:focus{
    color: #404bbf;
}


.current{
position: relative;
color: #404bbf;
}

.current::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.address{
    font-style: normal;
 
}

.header-container{
    display: flex;
    align-items: center;

}


.list-address{
    display: flex;
gap: 40px;
}

.list-address-element { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

     
   .list-address-element:hover,
                 .list-address-element:focus{
    color: #404bbf;
                 }






/*first section*/
 .solutions{
    display: block;
    background-color: #2e2f42;
padding: 188px 0;
margin: 0 auto;


}



.solutions-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
       
}

.button-order {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        border-radius: 4px;
        border: none;
        padding: 16px 32px;
       min-width: 169px;
            height: 56px;
      margin-left: auto;
      margin-right: auto;
        margin-top: 48px;
        white-space: nowrap; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus{
background-color:#404BBF;
}

.solutions{
    background-image: linear-gradient(to bottom,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/hero.jpg);
        background-repeat: no-repeat;
       background-position: center;
     max-width: 1440px;
     background-size: cover;
        
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list{
    display: flex;
    gap: 24px;
  
}

.icon-space{
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
border: 1px solid #8e8f99;
margin-bottom: 8px;
}

.features-list-element{
      flex-basis:  calc((100% - 72px)/4);
}

.features-list-name { 

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    }

.features-list-text { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.team {
    background-color: #f4f4fd; ;
   
}

.team-list{
    display: flex;
    gap: 24px;   

}

.cont-work{
padding: 32px 0;
}

.team-list-element{
    background-color: #fff;
     border-radius: 0 0 4px 4px; 
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-element:hover{
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}



.list-icons-item .link{
    display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icons-workers{
 display: flex;
 justify-content: center;
 gap: 24px;
 flex-shrink: 0;
 padding: 8px 16px 0 16px;
}

.icon-worker {
 
    fill: #f4f4fd;
    
}


.list-icons-item .link:hover{
 background-color: #404bbf;
}

.list-icons-item .link:focus{
    background-color: #404bbf;
}


.team-title { font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize ;
    margin-bottom: 72px;
   }

.team-name {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
margin-bottom: 8px;

    }

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
 
}

.portfolio-title {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
   }

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
     
}



.portfolio-name {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

   }

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.portfolio-list-element{

    width: calc((100% - 48px) / 3);
    
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-element:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cont-portf{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
border-top: none;
}

.overlay-image{
     position: relative;
     overflow: hidden;
}



.overlay {
    
   
}

.text-overlay{
 background-color: #4d5ae5;

    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;

       padding: 40px 32px ;
}

 .portfolio-list-element:hover .text-overlay {
     transform: translateY(0);
 }

.footer { 

    background-color: #2e2f42;
     padding: 100px 0 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
      color: #4d5ae5;
      display: inline-block;
      margin-bottom: 16px;
  
   }

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

max-width: 264px;
}

.footer-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  color: #f4f4fd;

}

.footer-first{ 
margin-right: 120px;
}


.socials-text{
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.item-icons-footer .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icons-footer {
    display: flex;
    gap: 16px;
    flex-shrink: 0;

}

.icon-footer {

    fill: #f4f4fd;

}


.item-icons-footer .link:hover {
    background-color: #31d0aa;;
}



.item-icons-footer .link:focus{
    background-color: #31d0aa;
}

.footer-x{
    display: flex;
  
    align-items: baseline;
}